:root{
    background:linear-gradient(90deg, #030406, #585858c4);
    
}

*{
    font-family: 'Cabin', sans-serif;
}
ul{
    list-style-type: none;
    margin-left: -2rem;
}
.list li{
    padding: 1rem;
    background-color: white;
    margin: 0.4rem 0;
    border-radius: 1rem;
}
ul li span{
    margin: 0 5px;
}
.add_reminder{
    border-radius: 0.4rem;
    padding: 1rem;
}
.add_reminder input{
    outline: 0;
    border:0px;
    padding: 0px 0.5rem;
}
.react-time-picker__wrapper{
border:0px !important;
background-color: white;
border-radius: 0.2rem;
padding: 0.6rem 0;
}
.login_page input,.login_page  button{
margin: 0.6rem 0;
padding:  0.5rem 0;
border-radius: 1rem;
width: 80%;
border:0px;
outline: 0;
}
.login_page input{
    padding:10px;
    background: black;
    color: cornsilk;
}
.login_page button{
    background-color: #ffffff;
    box-shadow: 0px 5px 3px 2px #2a2a2a;
    font-weight: 900;
    font-size: large;
}
.login_page button:hover{
    color: white;
    background-color: #0000009b;
}
.login_page button:active{
    box-shadow: 1px 1px 3px 0px #262626;
    transform: translate(0px,5px);
}
.errorMsg{
    color:white;
    text-shadow: 0px 0px 4px red;
}
.container{
    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 14px 10px #00000099;
    
}
div#root{
    background:linear-gradient(90deg, #ff0000b8, #001cf2b5);    
    /*  linear-gradient(90deg, #ff0090, #edf200) */
    
    /* linear-gradient(90deg,  #36ff00, #0097f2) */
}
.root{
    height: 100vh;
    box-sizing: border-box;
}
.cus-toast{
    transition:all cubic-bezier(0.075, 0.82, 0.165, 1);
}